- page_title "CI Lint"
- page_description "验证您的 GitLab CI 配置文件"
- content_for :library_javascripts do
  = page_specific_javascript_tag('lib/ace.js')

%h2 检查你的 .gitlab-ci.yml

.ci-linter
  .row
    = form_tag ci_lint_path, method: :post do
      .form-group
        .col-sm-12
          .file-holder
            .js-file-title.file-title.clearfix
              \.gitlab-ci.yml 内容
            #ci-editor.ci-editor= @content
          = text_area_tag(:content, @content, class: 'hidden form-control span1', rows: 7, require: true)
      .col-sm-12
        .pull-left.prepend-top-10
          = submit_tag('验证', class: 'btn btn-success submit-yml')
        .pull-right.prepend-top-10
          = button_tag('Clear', type: 'button', class: 'btn btn-default clear-yml')

  .row.prepend-top-20
    .col-sm-12
      .results.ci-template
        = render partial: 'create' if defined?(@status)
