- expanded = discussion.expanded?
%li.note.note-discussion.timeline-entry
  .timeline-entry-inner
    .timeline-icon
      = link_to user_path(discussion.author) do
        = image_tag avatar_icon_for_user(discussion.author), class: "avatar s40"
    .timeline-content
      .discussion.js-toggle-container{ data: { discussion_id: discussion.id } }
        .discussion-header
          .discussion-actions
            %button.note-action-button.discussion-toggle-button.js-toggle-button{ type: "button" }
              - if expanded
                = icon("chevron-up")
              - else
                = icon("chevron-down")
              切换讨论
          = link_to_member(@project, discussion.author, avatar: false)

          .inline.discussion-headline-light
            = discussion.author.to_reference
            开始一个讨论

            - url = discussion_path(discussion)
            - if discussion.for_commit? && @noteable != discussion.noteable
              于
              - commit = discussion.noteable
              - if commit
                提交
                = link_to commit.short_id, url, class: 'commit-sha'
              - else
                一个已删除提交
            - elsif discussion.diff_discussion?
              于
              = conditional_link_to url.present?, url do
                - if discussion.on_merge_request_commit?
                  - unless discussion.active?
                    一个过期的变更
                  提交

                  %span.commit-sha= Commit.truncate_sha(discussion.commit_id)
                - else
                  - unless discussion.active?
                    an old version of
                  the diff


            = time_ago_with_tooltip(discussion.created_at, placement: "bottom", html_class: "note-created-ago")
          = render "discussions/headline", discussion: discussion

        .discussion-body.js-toggle-content{ class: ("hide" unless expanded) }
          - if discussion.diff_discussion? && discussion.diff_file
            = render "discussions/diff_with_notes", discussion: discussion
          - else
            .panel.panel-default
              = render partial: "discussions/notes", locals: { discussion: discussion, disable_collapse_class: true }
