= form_for [:admin, @user, @identity], html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@identity)

  .form-group
    = f.label :provider, "提供者", class: 'control-label'
    .col-sm-10
      - values = Gitlab::Auth::OAuth::Provider.providers.map { |name| ["#{Gitlab::Auth::OAuth::Provider.label_for(name)} (#{name})", name] }
      = f.select :provider, values, { allow_blank: false }, class: 'form-control'
  .form-group
    = f.label :extern_uid, "身份", class: 'control-label'
    .col-sm-10
      = f.text_field :extern_uid, class: 'form-control', required: true

  .form-actions
    = f.submit '保存修改', class: "btn btn-save"
