- if params[:group_id].present?
  = hidden_field_tag :group_id, params[:group_id]
- if params[:project_id].present?
  = hidden_field_tag :project_id, params[:project_id]
.dropdown
  %button.dropdown-menu-toggle.js-search-group-dropdown{ type: "button", data: { toggle: "dropdown", default_label: "Group:", group_id: params[:group_id] } }
    %span.dropdown-toggle-text
      群组：
      - if @group.present?
        = @group.name
      - else
        任何
    = icon("chevron-down")
  .dropdown-menu.dropdown-select.dropdown-menu-selectable.dropdown-menu-align-right
    = dropdown_title("按群组过滤的结果")
    = dropdown_filter("搜索群组")
    = dropdown_content
    = dropdown_loading

.dropdown.project-filter
  %button.dropdown-menu-toggle.js-search-project-dropdown{ type: "button", data: { toggle: "dropdown", default_label: "Project:" } }
    %span.dropdown-toggle-text
      项目：
      - if @project.present?
        = @project.full_name
      - else
        任何
    = icon("chevron-down")
  .dropdown-menu.dropdown-select.dropdown-menu-selectable.dropdown-menu-align-right
    = dropdown_title("按项目过滤的结果")
    = dropdown_filter("搜索项目")
    = dropdown_content
    = dropdown_loading
