- @no_container = true
- breadcrumb_title "详细信息"
- @content_class = "limit-container-width" unless fluid_layout
- show_auto_devops_callout = show_auto_devops_callout?(@project)

= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, project_path(@project, rss_url_options), title: "#{@project.name} activity")

= render partial: 'flash_messages', locals: { project: @project }

%div{ class: [container_class, ("limit-container-width" unless fluid_layout)] }
  = render "projects/last_push"

= render "home_panel"

- if can?(current_user, :download_code, @project)
  %nav.project-stats{ class: container_class }
    = render 'stat_anchor_list', anchors: @project.statistics_anchors(show_auto_devops_callout: show_auto_devops_callout)
    = render 'stat_anchor_list', anchors: @project.statistics_buttons(show_auto_devops_callout: show_auto_devops_callout)


%div{ class: [container_class, ("limit-container-width" unless fluid_layout)] }
  - if @project.archived?
    .text-warning.center.prepend-top-20
      %p
        = icon("exclamation-triangle fw")
        #{ _('Archived project! Repository is read-only') }

  - view_path = @project.default_view

  - if show_auto_devops_callout?(@project)
    = render 'shared/auto_devops_callout'

  %div{ class: project_child_container_class(view_path) }
    = render view_path
